body {
  background-color: #ffb6c1;
}
h1 {
  color: #e0218a;
}
/* Pink Border */
hr.new1 {
  border-top: 3px solid #e0128a;
}
p {
  color: #e0218a;
}

a {
  color: #e0128a;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: #e0128a;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #e0128a;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e0128a;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #e0128a;
  background-color: transparent;
  text-decoration: underline;
}
